<div class="col-md-12">
  <app-navbar></app-navbar>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let chatMsg of chatMsgs">
          <div class="incoming_msg">
            <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt=""> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>{{chatMsg}}</p>
                <span class="time_date"> {{currentDate | date:'h:mm a'}}    |    June 9</span></div>
            </div>
          </div>
          <div class="outgoing_msg">
            <div class="sent_msg">
              <p>{{chatMsg}}</p>
              <span class="time_date"> 11:01 AM    |    June 9</span> 
              </div>
              <div class="outgoing_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt=""> </div>
          </div>
        </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" #userChatInput />
            <button class="msg_send_btn" type="button" (click)="onEnter(userChatInput)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>