.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}
.md-outer {
    margin: 10px auto 30px;
    max-width: 38%;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  padding: 40px 40px 60px 40px;
  margin: 10px auto 30px;
  max-width: 38%;
  border: 1px solid #ccc;
    border-radius: 20px;
}

.login-form .form-group {
  margin-bottom:30px;
}
.reg-access {
    text-align: center;
    padding-top: 10px;
}
.forgot a, .reg-access a {
  color: #4f9ed6;
  font-size: 14px;
  text-decoration: underline;
}
.login-form .btn.btn-primary {
    display: block;
    margin: 0 auto;
  background: #ffffff none repeat scroll 0 0;
  border-color: #4f9ed6;
  color: #4f9ed6;
  font-size: 14px;
  width: 30%;
  padding: 8px;
}
.login-form .btn.btn-primary:hover {
    background: #4f9ed6 none repeat scroll 0 0;
    color: #ffffff;
}
.login-form .btn.btn-primary:disabled {
    background: #ffffff none repeat scroll 0 0;
  border-color: #4f9ed6;
  color: #4f9ed6;
}
.forgot {
  text-align: left; 
  margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}

/* Loader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4f9ed6;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}